#box1{
    background-image: url(xbts.png) ;
    height: 91px;
    width: 59px;
    background-position: -205px -98px;
}
#box2{
    height: 94px;
    width: 125px;
   background-image:  url(xbt.png);
   background-position: -145px -10px;
}
#box3{
    height: 94px;
    width: 137px;
   background-image:  url(xbt.png);
   background-position: -10px -10px;
}
#box4{
    height: 94px;
    width: 118px;
   background-image:  url(xbt.png);
   background-position: -10px -124px;
}
.a{
    width:   1960px;
    height: 91px;
    display: flex;
}
.img1{
    width:   199px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: 0px -97px;
    margin-left: 360px;
}
.img2{
    width:   500px;
    height: 91px;
    display: flex;
    margin-left: 90px;
    
}
.imgs1{
    width:   59px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: -205px -98px;
    
}
.imgs2{
    width:   59px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: -205px -98px;
    margin-left: 13px;
    
}
.imgs3{
    width:   59px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: -205px -98px;
    margin-left: 13px;
}
.imgs4{
    width:   59px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: -205px -98px;
    margin-left: 13px;
}
.imgs5{
    width:   59px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: -205px -98px;
    margin-left: 13px;
}
.imgs6{
    width:   59px;
    height: 91px;
    background-image: url(xbts.png);
    background-position: -205px -98px;
    margin-left: 13px;
}
.c{
    width: 1960px;
    height: 396px;
   display: flex;
   justify-content: center;
   background-color:red;
}
.imgc1{
    background-color: red;
width: 300px;
margin-left: -50px;
height: 100%;
}
.imgc2{
    
    width: 300px;
    background-color: red;
    height: 100%;
}
.imgc3{
        width: 300px;
        background-color: red;
        height: 100%;
}
.imgc4{
        background-color: red;
        width: 300px;
        
        height: 100%;
    } 
.imgc11{
    margin-top: 20px;
    width:   100px;
    height: 94px;
    background-image: url(xbts.png);
    background-position: 0px 0px;
}
.imgc21{
    margin-top: 20px;
    width:   118px;
    height: 94px;
    background-image: url(xbts.png);
    background-position: -104px 0px;
}
.imgc31{
    margin-top: 20px;
    width:   137px;
    height: 94px;
    background-image: url(xbts.png);
    background-position: -232px 0px;
}
.imgc41{
    margin-top: 20px;
    width:   125px;
    height: 94px;
    background-image: url(xbts.png);
    background-position: -374px 0px;
}
.bt1{
    margin-left: 650px;
}
.d{
    margin-left: 500px;
    display: flex;
    width: 900px;
    height: 445px;
    background-color: chocolate;
}
.imgd1{
    width:   225px;
    height: 445px;
    background-image: url(xbts.png);
    background-position: -619px 0px;  
}
.imgd2{
    width:   225px;
    height: 445px;
    background-image: url(xbts.png);
    background-position: -619px 0px;  
}
.imgd3{
    width:   225px;
    height: 445px;
    background-image: url(xbts.png);
    background-position: -619px 0px;  
}
.imgd4{
    width:   225px;
    height: 445px;
    background-image: url(xbts.png);
    background-position: -619px 0px;  
}
.bt2{
    margin-left: 400px;
}
.e{
    margin-top: 50px;
    background-color: black;
    margin-left: 370px;
    display: flex;
}

.imge11{
    width:   600px;
    height: 42px;
    background-image: url(xbts.png);
    background-position: 0px -329px;  
}  
.imge12{
    width:   600px;
    height: 42px;
    background-image: url(xbts.png);
    background-position: 0px -329px;  
}
.imge21{
    width:   600px;
    height: 42px;
    background-image: url(xbts.png);
    background-position: 0px -329px;  
}
.imge22{
    width:   600px;
    height: 42px;
    background-image: url(xbts.png);
    background-position: 0px -329px;  
}
.bt3{
    margin-left: 400px;
}
.r{
    width: 1204px;
    
    background-color: black;
    margin-left: 400px;
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.image-item{
    width:   301px;
    height: 133px;
    background-image: url(xbts.png);
    background-position: 0px -192px;  
}
#lbt{
    position: relative;
    margin: 50px auto;
    padding: 0;
    width: 1960px;
    height: 418px;
}
#uls{
    position: relative;
    margin: 0;
    padding: 0;
    width: 1960px;
    height: 418px;
    overflow: hidden;
}
#imgul{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width:9800px;           /*多留出一张图片的宽度！*/
    list-style: none;
}
#imgul li{
    float: left;
    margin: 0;
    padding: 0;
    width: 1960px;
    height: 418px;
    background-color: red;
}
#xul{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 920px;
    bottom: 25px;
    list-style: none;
    margin-left: 100px;
}
#xul li{
    margin: 0;
    padding: 0;
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%; 
    margin-left:10px ;
    cursor: pointer;
}
#imgul li img{
    width: 1960px;
    height: 418px;
}
li.active{
    background-color: white;
}
li.quiet{
    background-color: #1e90ff;
}
#buttons{
    margin: 0;
    padding: 0;
    display: block;
}
#buttons span{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: Simsun;
    font-size: 30px;
    border: 1px solid #fff;
    opacity: 0.3;
    cursor: pointer;
    color: #fff;
    background: black;
}
#left{
    left: 5px;
}
#right{
    left: 100%;
    margin-left: -45px;
}
#a{
    background-color: red;
}
.sss{
    height: 91px;
    width: 59px;
    background-position: -205px -98px;
}
.imgcs{
    width:   81px;
    height: 29px;
    background-image: url(xbts.png);
    background-position: -268px -100px;  
}