body{
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    font-size: 15px;
    background-color: antiquewhite;
}
#head{
    height: 52px;
    background-color:#fff;
    
}
#headleft{
    color: #0084ff;
    font-size: 30px;
    text-align: center;
}
.headss{
    color:#8590a6;
    margin-left: 40px;
    font-size: 15px;
    align-items: center;
}
#input{
    width: 326px;
    height: 34px;
    margin-left: 35px;
}
#headmiddle{
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    border-color: #0084ff;
    font-size: 14px;
    border: 1px solid;
    width: 57.6px;
    height: 34px;
    color: white;
}
.heads{
    margin-left: 220px;
}
#middle{
    margin-left: 260px;
    width: 694px;
    display: grid;
    grid-template-columns:694px;
    grid-template-rows: repeat(137px);
    background-color: #fff;
    grid-gap: 50px;
}
.headmiddle{
    margin-left: 260px;
}
#middlehead1{
    margin-left: 260px;
    width: 694px;
    height: 58.8px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.middlemiddle{
    color: black;
    font-size: 16px;
    margin-left: 40px;
}
.ccc{
    float: left;
    margin-left: 20px;
    
    
}
.first{
    margin-left: -370px;
    font-size: 18px;
}
.boder{
    height: 1px;
    border-bottom: 1px solid #8590a6;
    margin-top: 15px;
}
.anniu{
    margin-top: 40px;
}
.middlerighthead{
    background-color: #fff;
    width: 296px;
    height: 188px;
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
    color: #444;
    border: 1px solid red；
    
   
}
.mrh{
    border: none;
    background-color: #fff;
    font-size: 16px;
}
.gengduo{
    border: none;
    background-color: #fff;
    color: #0084ff;
    font-size: 14px;
}
.middlerights{
    float: right;
    
    margin-right: 250px;

}
.middleleft{
    float: left;
}
.middlerightmiddle{
    width: 297px;
    height: 52px;
    margin-top: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#yanse{
    color: #0084ff;
}
.rqhead{
    width: 654px;
    height: 62.8px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.rq{
    font-size: 14px;
    color: #646464;
    background-color: #f6f6f6;
    height: 25px;
    padding: 5px 20px;
    margin: 0 4px;
    text-decoration: none;
}
#headmiddles{
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    border-color: #0084ff;
    font-size: 14px;
    border: 1px solid;
    width: 57.6px;
    height: 34px;
    color: white;
}
.qqq{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.qqqq{
    
    
    margin-left: 50px;
    
}
.qqqqq{
   display: flex;
   justify-content:space-between;
}
.tou{
    margin-left: 10px;
    margin-top: -10px;
    color: orange;
}
li div{
    margin-top: 10px;
}

.imgs{
    float: left;
    width: 20px;
    height: 20px;
}
.name{
   margin-right: 530px;
  
}
.wenzis{
    margin-right: 530px;
}
.xxxx{
    margin-right: 530px;
}
.plqmiddles{
    list-style: none;
} 
.sheng{
    background-color: blue;
}
span{
    margin: 0px;
}
h2{
    margin-left: 50px;
    margin-top: -10px;
}
p{
    margin-left: 50px;
    margin-top: -10px;
}
.img{
    margin-right: 20px;
}
.fenxiang{
    margin-left: 50px;
}
#over {
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: rgba(145,152, 159, 0.5);
}

#over>div {
     width: 536px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    padding: 1px;

    background-color: white;
    border-radius: 10px;

}


#content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 536px;
}
#close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
#over>div>h3 {
    margin-top: 20px;
}
.forms{
    width: 488px;
    background-color: #fff;
}
.overtext{
    width: 432px;
    height: 43px;
    background-color: #fff;
}
.overlast{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: #fff;
    margin-left: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.overtext{
    border: none;
    resize: none;
    font-size: 24px;

}
.overtexts{
    width: 388px;
    border: none;
    resize: none;
    font-size: 18px;

}
.overfoot{
    height: 200px;
}
.overload{
    height: 40px;
    color:red;
    float: right;
    margin-top: 10px;
}
.overs{
    background-color:#0084ff;
    color: #fff;
    opacity: 5;
    border: none;
    padding: 0 16px;
    font-size: 15px;
}
.overbuttons{
    font-size: 15px;
    margin-left: 515px;
    
    width: 30px;
    height: 30px;
}
#touxiang {
    float: right;
    margin-top: 11px;
    margin-right: 290px;
}