body{
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    font-size: 15px;
    background-color: antiquewhite;
}
#head{
    height: 52px;
    background-color:#fff;
    
}
#headleft{
    color: #0084ff;
    font-size: 30px;
    text-align: center;
}
.headss{
    color:#8590a6;
    margin-left: 40px;
    font-size: 15px;
    align-items: center;
}
#input{
    width: 326px;
    height: 34px;
    margin-left: 35px;
}
#headmiddle{
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    border-color: #0084ff;
    font-size: 14px;
    border: 1px solid;
    width: 57.6px;
    height: 34px;
    color: white;
}
.heads{
    margin-left: 220px;
}

.headmiddle{
    margin-left: 260px;
}



#yc{
    visibility: hidden;
    overflow: hidden;
    border:1px solid #CCC;
    background-color: rgba(30, 38, 38, 0.2);
    border:1px solid #333;
    padding:5px;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wws{
    width: 200px;
    height: 200px;
}
#xxx{
    float: right;
    font-size: 20px;
}
.mi{
    background-color: #f6f6f6;
    width: 536px;
    
}
.wanc{
   float: right;
   background-color: #0084ff;
   color: #fff;
   border: none;
   height: 33.6px;
}
.bode{
   margin-top: 50px;
}
.bj{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 90px 400px;
    grid-template-rows: repeat(auto-fill);
}
.bj img{
    margin-left: 20px;
}
.wenben{
    font-size: 16px;
    line-height: 1.34;
    overflow: auto;
    flex: 1 1;
    border: none;
    resize: none;
    width: 100%;
}
#touxiang{
float: right;
margin-top: 11px;
margin-right: 290px;
}
#headmiddles{
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    border-color: #0084ff;
    font-size: 14px;
    border: 1px solid;
    width: 57.6px;
    height: 34px;
    color: white;
}
.middle{
    width: 1000px;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 268.2px 300px 300px;
   
   margin-left: 216px;
}
.middleheadh{
    background-color: #8590a6;
    height: 120px;
}
.middleheadl{
    background-color:#fff;
    height: 148.2px;
    display: grid;
    grid-template-columns: 210px 790px;
    grid-template-rows: 268.2px;
}
.img{
    margin-top: -50px;
    margin-left: 50px;
}
.zhiliao{
    display: grid;
    grid-template-columns: 790px;
    grid-template-rows: 49.4px 49.4px 49.4px;
    align-items: center;
}
.zhiliaolast{
    display: flex;
    justify-content: space-between;
}

.chazhan{
    color:#8590a6;
    background-color: #f6f6f6;
    border: none;
}
.xiugai{
    color: #0084ff;
    font-size: 14px;
    background-color:#f6f6f6;
    border: none;
}
ul{
    float: left;
}
.last{
    display: grid;
    grid-template-rows: 50px;
}
.lasthead{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight:600 ;
    background-color: #fff;
}
.neirong{
    background-color: #f6f6f6;
    display: grid;
    grid-template-rows: repeat(auto-fill);
    justify-content: center;
    margin-top: 20px;
}
.list-item{
    margin-top: 20px;
    width: 694px;
    background-color:#f6f6f6;
    display: grid;
    grid-template-rows: 20px;
}
.listhead{
    display: flex;
    justify-content: space-between;
}
.listlastmiddle{
    height: 38px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.listlastlast{
    line-height: 2;
    display: grid;
    grid-template-rows: repeat(auto-fill);
}
.last1{
    color: #0084ff;
    width: 101.433px;
    height: 31.6px;
    background-color:rgba(0, 132,255, .1);
    border-color: transparent;
    margin-left: 20px;
}
.last2{
    color: #0084ff;
    width: 35.6px;
    height: 31.6px;
    background-color:rgba(0, 132,255, .1);
    border-color: transparent;
    margin-left: 4px;
   
}
.last3{
    background-color: #f6f6f6;
    border: none;
    font-size: 14px;
    margin-left: 14px ;
    color: #8590a6;
}
.last4{
    background-color: #f6f6f6;
    border: none;
    font-size: 14px;
    margin-left: 14px ;
    color: #8590a6;
}
.last5{
    background-color: #f6f6f6;
    border: none;
    font-size: 14px;
    margin-left: 14px ;
    color: #8590a6;
}
.last6{
    background-color: #f6f6f6;
    border: none;
    font-size: 14px;
    margin-left: 14px ;
    color: #8590a6;
}
.first{
    margin-left: 20px;
    font-size: 18px;
}
.boder{
    height: 1px;
    border-bottom: 1px solid #8590a6;
    margin-top: 15px;
}
.anniu{
    margin-top: 40px;
}
.ccc{
    float: left;
    margin-left: 20px; 
}
.gengduo{
    border: none;
    background-color: #fff;
    color: #0084ff;
    font-size: 14px;
}
.plq{
    display:grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,33.3%);
    border: 2px solid #f6f6f6;
    width: 654px;
    margin-left: 20px;
 } 
.topleft{
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.plqhead{
    height: 50.8px;
    display: flex;
    align-items: center;
}
.plqlast{
     display: flex;
     align-items: center;
     justify-content: space-around;
     border-top: 1px solid black;
}
.plqlastLeft{
    width: 478.4px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-top:  1px solid white;
}
.plqLastRight{
    background-color: #0084ff;
    color: #fff;
    border: none;
    font-size: 20px;
}
.plqmiddle{
    display: grid;
    grid-template-columns: repeat(612.4px);
    grid-template-rows: repeat(auto-fill);
    border-top: 1px solid black;
}
li div{
    margin-top: 10px;
}

.imgs{
    float: left;
    width: 20px;
    height: 20px;
}
.name{
   margin-right: 530px;
  
}
.wenzis{
    margin-right: 530px;
}
.xxxx{
    margin-right: 530px;
 
    
}
.plqmiddles{
    list-style: none;
} 
.sheng{
    background-color: #0084ff;
    color: white;
}
.cai{
    
    color: #0084ff;
}
.dz{
    color: #f6f6f6;
}
.xxxx a{
    margin-left: 10px;
}
.gs button{
    border: none;
    background-color: #fff;
    font-size: 25px;
    margin-left: 20px;
}
.last{
    margin-top: 20px;
}
.lasts1{
    font-size: 15px;
    background-color: #f6f6f6;
    color: #858585;
    border: none;
}
.lasts2{
    font-size: 15px;
    background-color: #f6f6f6;
    color:#8590a6;
    border: none;
}
.lasts3{
    font-size: 15px;
    background-color: #f6f6f6;
    color: #858585;
border: none;
}
.lasts4{
    font-size: 15px;
    background-color: #f6f6f6;
    color: #858585;
    border: none;
}
.buttons button{
    margin-left: 20px;
}
.wenzi{
    font-size: 15px;
    color: #1a1a1a;
}
.time{
    font-size: 15px;
    color: #8590a6;
}
.listname{
    font-size: 20px;
    font-weight: 600;
}
.listlast{
    border-bottom: 2px solid black;
}
#over {
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: rgba(145,152, 159, 0.5);
}

#over>div {
     width: 536px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    padding: 1px;

    background-color: white;
    border-radius: 10px;

}


#content {
    display: flex;
    justify-content: center;
    position: relative;
    width: 536px;
}
#close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
#over>div>h3 {
    margin-top: 20px;
}
.forms{
    width: 488px;
    background-color: #fff;
}
.overtext{
    width: 432px;
    height: 43px;
    background-color: #fff;
}
.overlast{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: #fff;
    margin-left: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.overtext{
    border: none;
    resize: none;
    font-size: 24px;

}
.overtexts{
    width: 388px;
    border: none;
    resize: none;
    font-size: 18px;

}
.overfoot{
    height: 200px;
}
.overload{
    height: 40px;
    color:red;
    float: right;
    margin-top: 10px;
}
.overs{
    background-color:#0084ff;
    color: #fff;
    opacity: 5;
    border: none;
    padding: 0 16px;
    font-size: 15px;
}
.overbuttons{
    font-size: 15px;
    margin-left: 515px;
    
    width: 30px;
    height: 30px;
}