.background1{
    background-color: blue;
}
#background1{
    width: 700px;
    height: 700px;
}
#color1{
    color: red;
    font-size: 15px;
    margin-top: 300px;
    margin-left: 250px;
}
html {
    padding: 0;
    margin: 0;
}