.grid{
    display: grid;
    grid-template-rows: 1700px;
    grid-template-rows: 40px 61px 801px 230px 285px 130px;
}
.grid2{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 292px 880px;
}
.grid21{
    display: grid;
    grid-template-rows: 57px;
    grid-template-columns: 293px 293px 294px;
}
.grid4{
    height: 50px;
    display: grid;
    grid-template-columns:repeat(2,293px);
    justify-content: center;
   
}
.grid5{
    margin-left: 8px;
    margin-top: -27px;
    display: grid;
    grid-template-columns: 242px 277px 285px 284px 271px 240px;
    justify-content: space-between;
}
.grid7{
    display: grid;
    grid-template-columns: 293px 293px;
    justify-content: center;
}
