body{
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    font-size: 15px;
    background-color: antiquewhite;
}
#head{
    height: 52px;
    background-color:#fff;
    
}
#headleft{
    color: #0084ff;
    font-size: 30px;
    text-align: center;
}
.headss{
    color:#8590a6;
    margin-left: 40px;
    font-size: 15px;
    align-items: center;
}
#input{
    width: 326px;
    height: 34px;
    margin-left: 35px;
}
#headmiddle{
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    border-color: #0084ff;
    font-size: 14px;
    border: 1px solid;
    width: 57.6px;
    height: 34px;
    color: white;
}
.heads{
    margin-left: 220px;
}

.headmiddle{
    margin-left: 260px;
}



#yc{
    visibility: hidden;
    overflow: hidden;
    border:1px solid #CCC;
    background-color: rgba(30, 38, 38, 0.2);
    border:1px solid #333;
    padding:5px;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wws{
    width: 200px;
    height: 200px;
}
#xxx{
    float: right;
    font-size: 20px;
}
.mi{
    background-color: #f6f6f6;
    width: 536px;
    
}
.wanc{
   float: right;
   background-color: #0084ff;
   color: #fff;
   border: none;
   height: 33.6px;
}
.bode{
   margin-top: 50px;
}
.bj{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 90px 400px;
    grid-template-rows: repeat(auto-fill);
}
.bj img{
    margin-left: 20px;
}
.wenben{
    font-size: 16px;
    line-height: 1.34;
    overflow: auto;
    flex: 1 1;
    border: none;
    resize: none;
    width: 100%;
}
#touxiang{
float: right;
margin-top: 11px;
margin-right: 290px;
}
#headmiddles{
    background-color: #0084ff;
    padding: 0 14px;
    margin-left: 16px;
    border-color: #0084ff;
    font-size: 14px;
    border: 1px solid;
    width: 57.6px;
    height: 34px;
    color: white;
}
.middle{
    width: 1000px;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 240px 942px;
   background-color: white;
   margin-left: 216px;
}
.middlelast{
    display: grid;
    grid-template-columns: 240px 760px;
}
.img{
    margin-top: -50px;
    margin-left: 20px;
}
.wenjuan{
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 100px 842px;
    margin-left: 50px;
}
.headname{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diaocha{
    display: grid;
    grid-template-rows: 105px 105px 105px;
    align-items: center;
}
.Field{
    display: grid;
    grid-template-columns: 100px 600px;
    grid-template-rows: 100px ;
    align-items: center;
}
.T{
    width: 158.4px;
    height: 32px;
    margin-left: 20px;
    
}
.label1{
    background-color: #0084ff;
    color: white;
    border: none;
    height: 33.6px;
    width: 61.6px;
}
.label2{
    background-color: #0084ff;
    color: white;
    border: none;
    height: 33.6px;
    width: 61.6px;
    margin-left: 20px;
}
.middlehead{
    background-color: #8590a6;
}
a{
    text-decoration: none;
    color: #1a1a1a;
}